.container-shop {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section-title {
    text-align: center;
    margin-bottom: 64px;
    color: white;
    font-size: 32px;
}

.albums-title {
    color: #d3a121;
    margin-bottom: 80px;
}

.albums-section {
    padding: 96px 24px;
    background: linear-gradient(135deg, #ffffff 0%, #faf4e4 100%);
}

.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    margin: 40px;
}

.album-card {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background: white;
    border: 1px solid #cadeef;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
}

.album-card:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.album-card:hover .album-overlay{
    background: linear-gradient(to top, rgba(214, 206, 183, 0.8), transparent);
}

.album-image {
    height: 256px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.album-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(214, 206, 183, 0), transparent);
    transition: background 0.5 ease;
}

.album-overlay:hover {
    background: linear-gradient(to top, rgba(214, 206, 183, 0.8), transparent);
}

.album-title-overlay {
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 16px;
    right: 16px;
    color: white;
}

.album-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}

.album-description {
    color: #cfb677;
    font-size: 14px;
    margin-bottom: 16px;
}

.album-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.album-price {
    display: flex;
    font-size: 32px;
    color: #d3a121;
}

.album-bonus {
    padding: 0;
    font-size: 12px;
    color: #d3c7aa;
}

.album-tracklist {
    font-size: 12px;
    color: #9bd4e4;
    line-height: 1.5;
}

.album-tracklist li {
    margin-bottom: 4px;
}